.TabBox {
    width: 100%;
    font-size: 16px;
    color: aliceblue;
    height: 50px;
}

.TabBox li {
    display: inline-block;
    padding: 10px 10px;
    margin: 0 2px;
    
    border-bottom: 2px solid #fff;
    cursor: pointer;
    transition: all .5s ease-in-out; 
}

.TabBox li:hover {
    font-size: 17px;
    transform: translateY(-10px);
    
}
.TabBox li span {
    color: yellow;
    transition: all .5s;
}
.TabBox li:hover span{
    color: aquamarine;
    
}
.time {
    color: yellow ;
}

.TabContent {
    margin: 10px 0;
    color: #666;
    width: 100%;
    background-color: #e5e5e5;
    height: 200px;
    position: relative;
}
.content {
    position: relative;
    width: 300px;
    height: 100px;
    margin: auto;
}
.content h3 {
    position: absolute; 
    /* transform: translateY(-100px);
    transition: all .5s ease-in-out;
    transition-delay: 1s; */
    top: 100px;
    opacity: 0;
    animation: inbox 1s ease-in-out 1s forwards;
}
.content .sub {
    position: absolute;
    top: 500px;
    transform: translateY(-450px);
    transition: all 1s ease-in-out;
    transition-delay: 1.2s;
}
.content .des {
    position: absolute;
    left: 500px;
    top: 100px;
    transform: translateX(-400px);
    transition: all 1s ease-in-out;
    transition-delay: 1.4s;
}

@keyframes inbox {
    from {
        top: 100px
    }
    to {
        top: 0;
        opacity: 1;
    }
}