.content {
    width: 50%;
    height: 50vh;
    margin: auto;
    background-color: cadetblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    border-radius: 20px;
    background: rgba(82, 82, 82, 0.1);
    box-shadow: 0 25px 30px rgba(184, 184, 184, 0.1);
    border: 1px solid rgba(255,255,255, 0.5);
    
    h1 {
        color: #fff;
        text-align: center;
    }
    .todo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .leftContent {
            width: 20%;
            button {
                display: block;
                margin: auto;
                margin-bottom: 30px;
            }
        }
        .rightContent {
            width: 78%;
            color: #fff;
            height: 300px;
            overflow: auto;
            .todoItem {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 15px 0;
                background: rgba(236, 236, 236, 0.128);
                padding: 10px 20px;
                box-sizing: border-box;
                border-radius: 20px;
                animation: show 0.3s ease-in-out forwards;
                overflow: hidden;
                .itemLeft {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .itemBox {
                        display: flex;
                        flex-direction: column;
                        margin-left: 20px;
                        p {
                            margin: 0 0 10px 0;
                        }
                        .sub {
                            color: #999;
                            span {
                                margin-left: 20px;
                                color: #666;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .delete {
                    color: #666;
                    button {
                        border: none;
                        padding: 0.7em 2em;
                        font-size: 18px;
                        font-family: inherit;
                        background-blend-mode: multiply;
                        color: rgb(235, 234, 234);
                        border-radius: 9px;
                        background: linear-gradient(225deg, #181818, #2e2e2e);
                        box-shadow: -5px 5px 10px #191919,
                                    5px -5px 10px #292929;
                       }
                       
                       button:hover {
                        background: #212121;
                        transition: background 1s ease;
                        box-shadow: -5px 5px 10px #191919,
                                    5px -5px 10px #292929;
                       }
                       
                       button:active {
                        transition: box-shadow .1s ease;
                        border-radius: 9px;
                        background: #212121;
                        box-shadow: inset -5px 5px 10px #191919,
                                     inset 5px -5px 10px #292929;
                       }
                       
                       span {
                        opacity: 0.5;
                        transition: opacity 0.2s ease;
                       }
                       
                       button:hover span {
                        opacity: 0.7;
                       }
                }
            }
        }
    }
    .addTodo {
        width: 100%;
        text-align: end;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        &:hover {
            .inputBox {
                input {
                    width: 400px;
                    // display: block;
                    opacity: 1;
                }
            }
        }
        input {
            background: transparent;
            outline: none;
            color: #fff;
            border-radius: 20px;
            width: 0px;
            // display: none;
            opacity: 0;
            transition: all .5s ease-in-out;
            height: 40px;
            margin-right: 20px;
            padding: 0 20px;
            &:-ms-input-placeholder{ 
                color: #666;
            }
        }
        .inputBox {
            position: absolute;
            right: 136px;

        }
        .addButton {
            &:hover {
                & + .inputBox {
                    input {
                        width: 400px;
                        // display: block;
                        opacity: 1;
                    }

                }
            }
        }
    }
}

button {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    position: relative;
    font-size: 17px;
    background: #333;
    border: none;
    color: #fff;
  }
  
  button:hover {
    letter-spacing: 0.25em;
    background: #ff1867;
    color: #ff1867;
    box-shadow: 0 0 45px #ff1867;
  }
  
  button::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #222222;
  }
  
  button span {
    position: relative;
    z-index: 1;
  }
  
  button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  button i::before {
    content: '';
    position: absolute;
    border: 2px solid #ff1867;
    width: 7px;
    height: 4px;
    top: -3.5px;
    left: 80%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  
  button:hover i::before {
    width: 20px;
    left: 20%;
  }
  
  button i::after {
    content: '';
    position: absolute;
    border: 2px solid #ff1867;
    width: 7px;
    height: 4px;
    bottom: -3.5px;
    left: 20%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  
  button:hover i::after {
    width: 20px;
    left: 80%;
  }

@keyframes show {
    from {
        height: 0;
    }
    to {
        height: 80px;
    }
}